{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="card shadow p-4 w-100" style="max-width: 400px;">
			<h4 class="text-center mb-4">SpartamGYM</h4>
			<form id="form">
				<div class="mb-3">
					<label for="idInput" class="form-label">ID - Usuario</label>
					<input type="text" class="form-control" id="id" name="id" required>
				</div>
				<input type="submit" class="btn btn-primary w-100" value="Enviar">
			</form>
			<div id="response" class="mt-3 text-center text-success"></div>
		</div>
	</div>


<script>
  const form = document.getElementById('form');
form.addEventListener('submit', async function(e) {
   e.preventDefault();

  
    const formData = new FormData(e.target);

    try {
        const response = await fetch("{{path('app_home_updated')}}", {
            method: 'POST',
            body: formData
        });

        const data = await response.json();
        document.getElementById('response').textContent = 'Enviado correctamente';
		form.reset();
    } catch (error) {
        console.error('Error al enviar:', error);
        document.getElementById('response').textContent = 'Error al enviar';
    }
});
</script>
{% endblock %}
