{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="card shadow p-4 w-100" style="max-width: 400px;">
			<h4 class="text-center mb-4">SpartamGYM</h4>
			<form id="idForm">
				<div class="mb-3">
					<label for="idInput" class="form-label">ID - Usuario</label>
					<input type="text" class="form-control" id="idInput" name="id" required>
				</div>
				<button type="submit" class="btn btn-primary w-100">Validar</button>
			</form>
			<div id="response" class="mt-3 text-center text-success"></div>
		</div>
	</div>


	<script>
		const eventSource = new EventSource('/sse');
        eventSource.onmessage = (event) => {
            console.log(event.data); // Aquí puedes manejar los datos recibidos
        };
	</script>
{% endblock %}
