
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docker-compose-dev.yml
###< symfony/framework-bundle ###
### subur solo la imagen por defecto
/public/img/*
!/public/img/profile-img.jpeg

